.about {
	margin-top: 27px;
	font-family: "Ubuntu", sans-serif;
	font-size: 22px;

	a {
		text-decoration: none;
	}

	ul {
		list-style-type: none;
		padding-left: 0;
	}

	li {
		text-align: left;
		margin-bottom: 10px;
	}
}
