.comment {
	display: flex;
	margin-top: 20px;

	p,
	h5,
	h6 {
		margin: 0;
	}

	&__body {
		width: 400px;
		textarea {
			border: 0;
			margin-top: 7px;
			padding: 8px;
			background-color: white;
			resize: none;
			height: 66px;
			width: 100%;
			transition: all 0.2s;

			&:focus-visible {
				outline: 0;
			}
		}
	}

	.input-active {
		border: 1px solid rgb(223, 225, 230);
		height: 120px;
	}

	&__btns {
		position: relative;
		text-align: left;

		.btn-link {
			padding: 0;
			color: #6b778c;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.delete-modal {
			position: absolute;
			left: 90px;
			background-color: #7b8599;
			border-radius: 3px;
			padding: 12px;
			opacity: 0.95;
			bottom: 0;
			color: white;
			text-shadow: 2px 1px black;
		}
	}

	&__image {
		color: white;
		height: 32px;
		width: 32px;
		background-color: #0052cc;
		border-radius: 50%;
	}
}
