
.Methi{
	text-align: center;
	margin-top: 2rem;
	
}
.signin { 
	margin-top: 10rem;
	// margin-left: 50rem;
	display:flex;
	// flex-direction: column;
	// justify-content: flex-start;
	justify-content: space-evenly;
	h1 {
		color: #0052cc;
		text-align: center;
		padding: 40px;
		
	}

	.signimg{
		height: 35%;
		width: 35%;
		margin-top: -9rem;
		margin-left: -5rem;
	}

	


	form {

		border-radius: 3px;
		box-shadow: -1px 0px 6px 1px rgba(0, 0, 0, 0.25);
		max-width: 450px;
		padding: 35px 45px;
		width: 500px;
		height: 350px;
		margin-top:2rem;
		margin-right: 10rem;
		// margin: auto;

		i {
			animation: spin 0.4s linear infinite;
			font-size: 21px;
		}
	}

	input {
		margin-top: 20px;
		transition: all 0.3s;
	}

	&__expandable {
		animation: inputAnim 0.3s ease-in;
	}

	h5 {
		text-align: center;
	}

	&__submit {
		border-radius: 3px;
		background-color: #0052cc;
		width: 100%;
		color: white;
		margin-top: 40px;

		&:hover {
			background-color: #0065ff;
			color: white;
		}
	}

	// .signimg{
	// 	height: 60%;
	// 	width: 60%;
	// 	margin-top: -20rem;
	// 	margin-left: 70rem;
	
	// }

	.btn-link {
		font-size: 15px;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}



@keyframes inputAnim {
	0% {
		height: 0;
		opacity: 0;
	}

	100% {
		height: auto;
		opacity: 1;
	}
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
